body {
    background-image: url("https://media.istockphoto.com/vectors/the-earth-dog-a-pattern-of-canine-tracks-of-different-sizes-traces-of-vector-id688563726?b=1&k=6&m=688563726&s=170667a&w=0&h=OcFmZrSVWSeuSy-N0tuht3sYR5-wNbdpBDCY16_SSoM=");
    
}
.myTable,.table th{text-align:center}*{margin:0;padding:0}@import url(https://fonts.googleapis.com/css?family=Exo);body{font-family:Exo,sans-serif}.myTable{margin-top:50px}.myAlert{margin:50px 0 0}.alert h4{margin:0}span{color:rgb(98, 0, 255)}.footer{padding-top:235px}

.material-icons{
    color: rgb(196, 54, 36);
}

